
<div id="topnav">

 <span id="username"><%= @user.first_name %> <%= @user.last_name %></span>
 
<div>
<span id="invitebutton" >
   <div class="btn-group 2 ">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">Invite </a>
     
           <ul class="dropdown-menu">
              <li class="divider"></li><span><h5 class="listin">&nbsp;&nbsp;Invite West to:</span></h5></li></li><li><%= link_to "Product Manager", current_user, :class => "bar"%></li><li><%= link_to "Marketing Coordinator", current_user, :class => "bar" %></li><li><%= link_to "Marketing Analyst", current_user, :class => "bar"%></li><li class="divider"></li><span><h5 class="listin">&nbsp;&nbsp;Request:</span></h5></li><li><%= link_to "Interview", current_user, :class => "foo" %></li><li><%= link_to "Video Chat", current_user, :class => "foo" %></li>
           </ul>

       </div>
    </span>
       <span id="broadcastbutton" >
  <div class="btn-group 2 ">
      <a id="btn22" class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">Broadcast  
      </a>
           <ul class="dropdown-menu">
              <li class="divider"></li><span><h5 class="listin">&nbsp;&nbsp;Broadcast West to Talent Hunter:</span></h5></li></li><li><%= link_to "Jamie O Brian", current_user %></li><li><%= link_to "Deyan Milov", current_user %><li><%= link_to "Jared Clark", current_user %></li></li><li><%= link_to "Talent Hunter2", current_user %></li><li><%= link_to "Talent Hunter3", current_user %></li>
                  </li><li class="divider"></li><span><h5 class="listin">&nbsp;&nbsp;To Department:</span></h5></li></li><li><%= link_to "(All) Marketing Department:", current_user %></li></li>
           </ul>
       </div>
      </span>

</div>



<div>
   <span class="watchbutton" ><a class="btn btn-large">Watch</a>
   </span></div>

</div>

 




   <div class="tab-content">
    <div class="tab-pane active fade in" id="home">
    
   


 <div id="userphoto">
        <ul class="learn">
          <li class="thumbnaile" ><img id="portrait" src="/assets/allyson.jpg" class="stretch" />
          </li>
       </ul>
        </div>

 <div id="topbar">
  <h3 id="indexrank">97 </h3>
  <h3 id="specialtyname">Product Management </h3>

    </div>
    <div id="rightabout">

   

        
         
<div id="locationbox">
         <h3 id="livesin">Lives in</h3><div class="space"></div>
         <h3 id="locationname">Santa Barbara, California </h3>
         </div>

    


<div id="studiedbox">

<h3 id="studied">Studied at</h3>
<h3 id="studiedsubject">The Hague University</h3>


<h3 id="studiedsubject2">B.S. International Business</h3>
<h3 id="slash1">/</h3>
<h3 id="studiedsubject2">Management</h3>

</div>




<div id="workedbox">
<h3 id="workedas">Worked at</h3><div class="space"></div><h3 id="workedname">Public Safety Network  </h3>

<h3 class="at">at</h3><div class="space"></div>
<h3 id="pastworked">Project Manager</h3>
<h3 id="pastworked">Analyst</h3>
</div>


      </div>


<div id="right-bar">



</div>


    </div>



<div class="tab-pane fade" id="tab2">
 <div class="row">
  
    <div id="toptabs" class="span4 offset4">
      <div class="btn-group">
         <ul class="nav nav-pills blue">
            <li class="active"><a href="#tab6" data-toggle="tab" data-target="#tab6, #tab2_else"><i class="icon-pencil"></i> Undergraduate</a>
            </li>
            <li><a href="#tab7" data-toggle="tab" data-target="#tab7, #tab7_else"><i class="icon-star"></i> Other</a>          </li>
          </ul>
        
      </div>
   </div>
          <div class="tab-content">
          
           <div class="tab-pane active fade in" id="tab6">
             <div id="undergradshow" class="span12">
               
                 
                   
             </div>
      
           </div>
   


  <div class="tab-pane fade" id="tab7">
     
       <div id="othershow" class="span12">
         <div class ="span12">
            
                   
      
         </div>



          </div>
        </div>
      </div>
    </div> 
  </div>
   
 
<div class="tab-pane fade" id="tab3" >
  <div class="row">
    
      <div id="toptabs">
        <div class="btn-group">
         <ul class="nav nav-pills blue">
            <li class="active"><a href="#tab8" data-toggle="tab" data-target="#tab8, #tab3_else"><i class="icon-pencil"></i> Most Recent </a>
            </li>
            <li><a href="#tab9" data-toggle="tab" data-target="#tab9, #tab9_else"><i class="icon-star"></i> Past</a>
            </li>
         </ul>
        
      </div> 
    </div>

       <div class="tab-content">
         <div class="tab-pane active fade in" id="tab8">
            <div id="recentshow" class="span12">
                <ul class="thumbnails">

                 <div class="span6">
                   <div class="span6">
                    <h3 class="lightsp"><i class="icon-lock"></i> Project Manager</h3></div><div class="span5" id="mystery">Public Safety Network
                   </div>
                     <div class="span5">            
<p></p>           </div>
                 </div>

                    <div class="span6">
                      <div class="span6"> <h3 class="lightsp"><i class="icon-lock"></i> Business Development Assistant</h3>
                      </div>
                        <div class="span5" id="mystery">Rockefeller & Company
                        </div>
                      <div class="span5">            
<p> </p>              </div>
                     </div>

                </div>



              </div>
           
          


   <div class="tab-pane fade" id="tab9">
      <div id="pastshow" class="span12">
        
            
               <div class="span7">
             <img src="/assets/hague.jpg" height="250" width="200" class="rooster" />              </div>
            

               <div class="span7"> 
 <span>My experience in The Hague was honestly the first time in my life I can honestly say that I came out of my shell. My comfort zone was shattered, and in its place, gave birth to a beautiful new begginning.  </span>
                </div>
          </div>



        </div> 


      </div>

    </div>
 </div>




    



    <div class="tab-pane fade" id="tab4">
      <div class="row">
        <div id="skillshow" class ="span12"><br /> <br /><h3 class="verified">Verified Skills</h3>
       
       </div>
     </div>



   </div>



      <div class="tab-pane fade" id="tab5">
        <div class="row">
           <div id="videoshow" class ="span6">
            
               <ul class="thumbnails">
                 <div  class="span12">
                <li id="dotvid"><object style="height: 390px; width: 640px">
<param value="http://www.youtube.com/v/HRHFEDyHIsc?version=3" name="movie">
<param value="true" name="allowFullScreen">
<param value="always" name="allowScriptAccess">
<embed width="640" height="370" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" src="http://www.youtube.com/v/HRHFEDyHIsc?version=3">
</object>
               </li>
              </div>

        </div>
      </div>
    </div>
 


<div class="row" class="span12">
  <div id="navbar" class="span12">
     <ul class="tabnavcenter" id="myTab">
       <li class="active"><a href="#home" data-target="#home, #home_else" data-toggle="tab">About</a></li>
       <li><a href="#tab2" data-target="#tab2, #tab2_else" data-toggle="tab">Education</a></li>
       <li><a href="#tab3" data-target="#tab3, #tab3_else" data-toggle="tab">Experience</a></li>
       <li><a href="#tab4" data-target="#tab4, #tab4_else" data-toggle="tab">Skills</a></li>
       <li><a href="#tab5" data-target="#tab5, #tab5_else" data-toggle="tab"> Video</a></li>
     </ul>
    </div>
</div>     



<div class="tab-content">
    <div class="tab-pane active fade in" id="home_else"><p class="userwhy"> Hi, I'm West. I'm a 26 year old, startup enthusiast, study abroad student, world traveler, and over-thinker. I have a passion for thinking larger than I can afford, and building things bigger than I can handle.  </p>
    </div>
    
    <div class="tab-pane fade" id="tab2_else"><p class="userwhy"> I went to a small liberal arts school right  out of High School... </p>
   </div>

<div class="tab-pane fade" id="tab7_else"><p class="userwhy"> Studying abroad in The Hague was insanely fun. I worked with people from all over the world </p>
   </div>
<div class="tab-pane fade" id="tab3_else"><p class="userwhy"> As an Analyst for Public Safety Network and ended up climbing the ranks to become a Product Manager </p>
   </div>
<div class="tab-pane fade" id="tab9_else"><p class="userwhy"> Used to work as a lifeguard </p>
   </div>
<div class="tab-pane fade" id="tab4_else"><p class="userwhy"> I don't even think verified skills should be included in the MVP, lol </p>
   </div>
<div class="tab-pane fade" id="tab5_else"><p class="userwhy"> Voted unniest speech of the night from my sister's wedding night. </p>
   </div>
</div>


    </div>





    

 <li class="testerli"></li>
<li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li><li class="testerli"></li>
  









